<template name="candidate">
	<div class="container animated fadeIn">
		<table>
			<thead>
				<tr>
					<th data-field="number">Number</th>
					<th data-field="name">Name</th>
					<th data-field="address">Represent</th>
					<th></th>
				</tr>
			</thead>
			<tbody>

			</tbody>
		</table>
	</div>

	<div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
		<a href="/candidate/add" class="btn-floating btn-large waves-effect waves-light {{ getFormColor }}"><i class="mdi-content-add"></i></a>
	</div>
</template>